table {
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 4px;
}

h1 {
    text-align: center;
}

.radio-button {
  display: flex;
  flex-direction: column;
  margin: 4px;
}