table {
    border-collapse: collapse;
    width: 100%;
}

h1 {
    text-align: center;
}

.main-board, th {
  border: 1px solid #000000;
  text-align: center;
  padding: 3px;
}

th {
  background-color: red;
}

input {
  -webkit-appearance: slider-vertical;
  width: 50px;
}

.chorus {
  vertical-align: top;
}

.radioButton {
  text-align: left;
}